/* колір веблого та фільтрів (кнопок) #4D5AE5 */
/*  другий колір лого, студіо, портфоліо, контакти, заголовки, фон футер  #2E2F42 */
/* пошта та тел, абзаци #434455 */
/* фільтр ховер #404BBF */
/* загальний фон, фільтр хвер текст #FFFFFF */
/* заливка фільтр #F4F4FD */
/* колір обводки кнопок фільтра #E7E9FC */
/* лого футер та абзац #F4F4FD */

:root {
    --hover-color: #404BBF;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #434455;
    background-color: #FFFFFF;
    }

.contact-link {
    font-style: normal;
    text-decoration: none;
    color: #2E2F42;
}

.contact-link:hover,
.contact-link:focus {
    color: var(--hover-color);
}

.logo {
    font-family: 'Raleway', sans-serif; 
    font-size: 18px; 
    line-height: 1.2; 
    color: #4D5AE5;
    text-decoration: none;       
}

span {
   color: #2E2F42; 
}

.link {
     font-size: 16px;
     font-weight: 500;
     line-height: 1.5;
     text-decoration: none;  
}

.link:active {
    color: var(--hover-color);
}

.list {
   list-style: none; 
}

.contacts {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; 
}

h1 {
    font-size: 56px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.btn {
    color: #4D5AE5;
    background-color: #F4F4FD;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    list-style: none;
    cursor: pointer;
    border-color: #E7E9FC;
    border-radius: 4px;
    }

.btn:hover,
.btn:focus {
    background-color: var(--hover-color);
    color: #FFFFFF;
}

.btn-index {
    color: #FFFFFF;
        background-color: #4D5AE5;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        list-style: none;
        cursor: pointer;
        border-color: #4D5AE5;
        border-radius: 4px;
}

.btn-index:hover,
.btn-index:focus {
    background-color: var(--hover-color);
    color: #FFFFFF;
}

.title-portfolio {
    line-height: 1.2;
    font-weight: 500;
    font-size: 20px;
    color: #2E2F42;
    letter-spacing: 0.02em;
  }

 p {
    font-size: inherit;
    line-height: 1.5;
    font-weight: 400;
}

.title-index {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    /* text-align: center; */
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.footer-styles {
    background-color: #2E2F42;
}

.footer-logo {
    color: #F4F4FD;
}

.footer-text {
color: #F4F4FD;
font-size: inherit;
line-height: 1.5;
text-align: Left;  
vertical-align: Top;
}